.form{
    width: 350px;
    height: 520px;
    padding: 15px;
    margin: 10px auto;
    border-radius: 7px;
    background-color: #3ad886;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: inherit;
}

.form_image_preview{
    width: 320px;
    height: 200px;
    margin: 7px auto;
    background-position: 50%;
    background-size: cover;
    border: 1px solid #ab2a19;
}

.buttons{
    padding: 10px;
    margin: 5px 10px;
    background-color: #ed6b5a;
    border-radius: 7px;
    border: none;
    font-family: Open Sans, sans-serif;
}